<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="Unity">
        <dir
          name="Assets">
          <dir
            name="HotUpdate"/>
          <dir
            name="HybridCLRGenerate"/>
          <dir
            name="Scenes"/>
          <dir
            name="Scripts">
            <dir
              name="AOT">
              <dir
                name="GameEntry">
                <dir
                  name="HybridCLR"/>
                <dir
                  name="YooAssets">
                  <dir
                    name="Service"/>
                </dir>
                <dir
                  name="_MonoTest">
                  <dir
                    name="ECS"/>
                  <dir
                    name="ETTask"/>
                </dir>
              </dir>
              <dir
                name="Plugins">
                <dir
                  name="MemoryPack">
                  <dir
                    name="Runtime">
                    <dir
                      name="MemoryPack.Core">
                      <dir
                        name="Compression"/>
                      <dir
                        name="Formatters"/>
                      <dir
                        name="Internal"/>
                    </dir>
                    <dir
                      name="MemoryPack.Unity"/>
                  </dir>
                </dir>
                <dir
                  name="Sirenix">
                  <dir
                    name="Odin Inspector">
                    <dir
                      name="Modules">
                      <dir
                        name="Unity.Mathematics"/>
                    </dir>
                    <dir
                      name="Scripts">
                      <dir
                        name="Editor"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="YooAsset">
                  <dir
                    name="2.1.1">
                    <dir
                      name="Extension Sample">
                      <dir
                        name="Scripts">
                        <dir
                          name="Editor">
                          <dir
                            name="PackageComparator"/>
                          <dir
                            name="PackageImporter"/>
                          <dir
                            name="ShaderVariantCollector"/>
                        </dir>
                        <dir
                          name="Runtime"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="HotUpdate">
              <dir
                name="Node">
                <dir
                  name="Share">
                  <dir
                    name="Modules">
                    <dir
                      name="DataBase">
                      <dir
                        name="LiteDB"/>
                      <dir
                        name="Proxy"/>
                    </dir>
                    <dir
                      name="Input">
                      <dir
                        name="Data"/>
                      <dir
                        name="Enum"/>
                      <dir
                        name="KeyCode"/>
                    </dir>
                    <dir
                      name="NeuralNetwork">
                      <dir
                        name="MultilayerPerceptron"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="Rule">
                <dir
                  name="Share">
                  <dir
                    name="Modules">
                    <dir
                      name="DataBase">
                      <dir
                        name="LiteDB"/>
                      <dir
                        name="Proxy"/>
                    </dir>
                    <dir
                      name="Input"/>
                    <dir
                      name="NeuralNetwork">
                      <dir
                        name="MultilayerPerceptron"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="UnityNode">
                <dir
                  name="Client">
                  <dir
                    name="Modules">
                    <dir
                      name="Input"/>
                  </dir>
                  <dir
                    name="_Test"/>
                </dir>
              </dir>
              <dir
                name="UnityRule">
                <dir
                  name="Client">
                  <dir
                    name="Modules">
                    <dir
                      name="Input"/>
                  </dir>
                  <dir
                    name="_Test"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="WorldTreeFramework">
              <dir
                name="UnityEnvironment">
                <dir
                  name="Editor">
                  <dir
                    name="Addressables"/>
                  <dir
                    name="EditorGUI">
                    <dir
                      name="SystemBase"/>
                  </dir>
                  <dir
                    name="EditorTool">
                    <dir
                      name="EditorToolKitWindow">
                      <dir
                        name="Editor"/>
                      <dir
                        name="ToolPages">
                        <dir
                          name="EntityBindMono">
                          <dir
                            name="Editor"/>
                        </dir>
                        <dir
                          name="GuidePage">
                          <dir
                            name="Editor"/>
                        </dir>
                        <dir
                          name="ScriptInitSetting">
                          <dir
                            name="Editor"/>
                        </dir>
                        <dir
                          name="ScriptableEditor">
                          <dir
                            name="Editor"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="ThirdParty">
                    <dir
                      name="HybridCLR">
                      <dir
                        name="Generate"/>
                    </dir>
                  </dir>
                  <dir
                    name="UnityNodeFieldView">
                    <dir
                      name="RuleBase">
                      <dir
                        name="SubRule"/>
                    </dir>
                  </dir>
                  <dir
                    name="UnityWorldTreeNodeView"/>
                  <dir
                    name="WorldTreeFrameworkWindow"/>
                </dir>
                <dir
                  name="RunTime">
                  <dir
                    name="Assets">
                    <dir
                      name="AssetBundle">
                      <dir
                        name="RuleBase"/>
                    </dir>
                    <dir
                      name="ColorTexture2D"/>
                  </dir>
                  <dir
                    name="Core"/>
                  <dir
                    name="EditorRunTime">
                    <dir
                      name="UnityWorldTreeNodeView"/>
                  </dir>
                  <dir
                    name="GUI">
                    <dir
                      name="Base"/>
                    <dir
                      name="GUIComponent"/>
                    <dir
                      name="GUIWindow">
                      <dir
                        name="SystemBase"/>
                    </dir>
                  </dir>
                  <dir
                    name="LifeCycle">
                    <dir
                      name="Runtime">
                      <dir
                        name="Main">
                        <dir
                          name="DrawGizmosUpdate"/>
                        <dir
                          name="FixedUpdate"/>
                        <dir
                          name="GuiUpdate"/>
                        <dir
                          name="LateUpdate"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="ObjectBox">
                    <dir
                      name="WorldTreeStruct"/>
                  </dir>
                  <dir
                    name="ObjectPool">
                    <dir
                      name="Extension"/>
                    <dir
                      name="Item"/>
                    <dir
                      name="Manager"/>
                    <dir
                      name="Pool"/>
                  </dir>
                  <dir
                    name="ThirdParty">
                    <dir
                      name="Addressables"/>
                    <dir
                      name="YooAsset"/>
                  </dir>
                  <dir
                    name="Tools">
                    <dir
                      name="Extension"/>
                    <dir
                      name="Mathf"/>
                  </dir>
                  <dir
                    name="UI">
                    <dir
                      name="Rule"/>
                  </dir>
                  <dir
                    name="_Init"/>
                </dir>
              </dir>
              <dir
                name="WorldTree">
                <dir
                  name="Core">
                  <dir
                    name="Branch">
                    <dir
                      name="Base"/>
                    <dir
                      name="RuleMethod"/>
                    <dir
                      name="Sub"/>
                  </dir>
                  <dir
                    name="Core">
                    <dir
                      name="Branch"/>
                    <dir
                      name="RuleMethod"/>
                    <dir
                      name="WorldContext"/>
                    <dir
                      name="WorldHeart"/>
                  </dir>
                  <dir
                    name="DynamicNodeQueue"/>
                  <dir
                    name="Kcp"/>
                  <dir
                    name="Node">
                    <dir
                      name="NodeBase"/>
                    <dir
                      name="RuleMethod"/>
                  </dir>
                  <dir
                    name="ObjectBox">
                    <dir
                      name="TreeObject"/>
                    <dir
                      name="TreeValue">
                      <dir
                        name="Base"/>
                      <dir
                        name="Rule">
                        <dir
                          name="RuleHandler">
                          <dir
                            name="Lifecycle"/>
                          <dir
                            name="ValueChangeRuleEvent">
                            <dir
                              name="RuleBase"/>
                          </dir>
                        </dir>
                        <dir
                          name="RuleMethod"/>
                      </dir>
                    </dir>
                    <dir
                      name="Unit"/>
                    <dir
                      name="WorldTreeStruct"/>
                  </dir>
                  <dir
                    name="ObjectPool">
                    <dir
                      name="ArrayPool"/>
                    <dir
                      name="GenericPool"/>
                    <dir
                      name="NodePool"/>
                    <dir
                      name="PoolBase"/>
                    <dir
                      name="ReferencedPool"/>
                    <dir
                      name="UnitPool">
                      <dir
                        name="Unit">
                        <dir
                          name="Base"/>
                        <dir
                          name="Interface"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="Rattan">
                    <dir
                      name="Base"/>
                    <dir
                      name="RuleMethod"/>
                    <dir
                      name="Sub">
                      <dir
                        name="ReferencedRattan"/>
                    </dir>
                  </dir>
                  <dir
                    name="Rule">
                    <dir
                      name="RuleBase">
                      <dir
                        name="SubRule"/>
                    </dir>
                    <dir
                      name="RuleBaseLifecycle"/>
                    <dir
                      name="RuleBaseUniversal"/>
                    <dir
                      name="RuleGroup"/>
                    <dir
                      name="RuleList"/>
                    <dir
                      name="RuleManager"/>
                  </dir>
                  <dir
                    name="RuleActuator">
                    <dir
                      name="Base"/>
                    <dir
                      name="Exception"/>
                    <dir
                      name="GlobalRuleActuator"/>
                    <dir
                      name="ListenerRuleActuator"/>
                    <dir
                      name="RuleActuator"/>
                  </dir>
                  <dir
                    name="Serialize">
                    <dir
                      name="ByteSequence"/>
                    <dir
                      name="TreeData">
                      <dir
                        name="FormattersRule">
                        <dir
                          name="Basics"/>
                        <dir
                          name="Special"/>
                      </dir>
                      <dir
                        name="RuleBase"/>
                      <dir
                        name="TreeData"/>
                    </dir>
                    <dir
                      name="TreePack">
                      <dir
                        name="FormatRule"/>
                      <dir
                        name="RuleBase"/>
                    </dir>
                  </dir>
                  <dir
                    name="Time"/>
                  <dir
                    name="Timer">
                    <dir
                      name="Extension"/>
                  </dir>
                  <dir
                    name="TreeTask">
                    <dir
                      name="Base"/>
                    <dir
                      name="Builder"/>
                    <dir
                      name="Extension"/>
                    <dir
                      name="RuleBase"/>
                    <dir
                      name="StateMachine"/>
                    <dir
                      name="Task"/>
                  </dir>
                  <dir
                    name="Type"/>
                </dir>
                <dir
                  name="Modules">
                  <dir
                    name="Node">
                    <dir
                      name="TreeTaskQueueLock"/>
                    <dir
                      name="TreeTween">
                      <dir
                        name="Base"/>
                      <dir
                        name="Curve">
                        <dir
                          name="RuleBase"/>
                      </dir>
                      <dir
                        name="Extension"/>
                      <dir
                        name="Rule"/>
                      <dir
                        name="RuleBase"/>
                      <dir
                        name="TweenUpdateRule"/>
                    </dir>
                  </dir>
                  <dir
                    name="Rule">
                    <dir
                      name="TreeTaskQueueLock"/>
                  </dir>
                </dir>
                <dir
                  name="Tools">
                  <dir
                    name="Encipherment"/>
                  <dir
                    name="Extension"/>
                  <dir
                    name="File"/>
                  <dir
                    name="Math"/>
                  <dir
                    name="Serialized"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="_Test">
              <dir
                name="ETTask"/>
            </dir>
          </dir>
          <dir
            name="Tools">
            <dir
              name="Sirenix">
              <dir
                name="Odin Inspector">
                <dir
                  name="Modules">
                  <dir
                    name="Unity.Mathematics"/>
                </dir>
                <dir
                  name="Scripts">
                  <dir
                    name="Editor"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="WorldTreeFramework">
            <dir
              name="UnityEnvironment">
              <dir
                name="Editor">
                <dir
                  name="Addressables"/>
                <dir
                  name="EditorGUI">
                  <dir
                    name="SystemBase"/>
                </dir>
                <dir
                  name="WorldTreeFrameworkWindow"/>
              </dir>
              <dir
                name="EditorTool">
                <dir
                  name="EditorToolKitWindow">
                  <dir
                    name="Editor"/>
                  <dir
                    name="ToolPages">
                    <dir
                      name="EntityBindMono">
                      <dir
                        name="Editor"/>
                    </dir>
                    <dir
                      name="GuidePage">
                      <dir
                        name="Editor"/>
                    </dir>
                    <dir
                      name="ScriptInitSetting">
                      <dir
                        name="Editor"/>
                    </dir>
                    <dir
                      name="ScriptableEditor">
                      <dir
                        name="Editor"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="GUI">
                <dir
                  name="Base"/>
                <dir
                  name="GUIComponent"/>
                <dir
                  name="GUIWindow">
                  <dir
                    name="SystemBase"/>
                </dir>
              </dir>
              <dir
                name="RunTime">
                <dir
                  name="Assets">
                  <dir
                    name="Addressables"/>
                  <dir
                    name="AssetBundle">
                    <dir
                      name="RuleBase"/>
                  </dir>
                  <dir
                    name="ColorTexture2D"/>
                </dir>
                <dir
                  name="Input"/>
                <dir
                  name="LifeCycle">
                  <dir
                    name="Runtime">
                    <dir
                      name="Main">
                      <dir
                        name="FixedUpdate"/>
                      <dir
                        name="GuiUpdate"/>
                      <dir
                        name="LateUpdate"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="ObjectBox">
                  <dir
                    name="WorldTreeStruct"/>
                </dir>
                <dir
                  name="ObjectPool">
                  <dir
                    name="Extension"/>
                  <dir
                    name="Item"/>
                  <dir
                    name="Manager"/>
                  <dir
                    name="Pool"/>
                </dir>
                <dir
                  name="Tools">
                  <dir
                    name="Extension"/>
                  <dir
                    name="Mathf"/>
                </dir>
                <dir
                  name="UI">
                  <dir
                    name="Rule"/>
                </dir>
                <dir
                  name="_Init"/>
                <dir
                  name="_Test"/>
              </dir>
            </dir>
            <dir
              name="WorldTree">
              <dir
                name="Core">
                <dir
                  name="DynamicNodeQueue"/>
                <dir
                  name="Encipherment"/>
                <dir
                  name="Node">
                  <dir
                    name="Branch">
                    <dir
                      name="Base"/>
                    <dir
                      name="ChildBranch"/>
                    <dir
                      name="ComponentBranch"/>
                    <dir
                      name="IdNodeBranch"/>
                    <dir
                      name="RuleMethod"/>
                    <dir
                      name="TypeNodeBranch"/>
                  </dir>
                  <dir
                    name="Core"/>
                  <dir
                    name="NodeBase"/>
                  <dir
                    name="RuleMethod">
                    <dir
                      name="InvokeRule"/>
                    <dir
                      name="InvokeRuleGeneral"/>
                  </dir>
                </dir>
                <dir
                  name="ObjectBox">
                  <dir
                    name="TreeObject"/>
                  <dir
                    name="TreeValue">
                    <dir
                      name="Base"/>
                    <dir
                      name="Rule">
                      <dir
                        name="RuleEventBase"/>
                      <dir
                        name="RuleHandler">
                        <dir
                          name="Lifecycle"/>
                        <dir
                          name="ValueChangeRuleEvent"/>
                      </dir>
                      <dir
                        name="RuleMethod"/>
                    </dir>
                  </dir>
                  <dir
                    name="Unit"/>
                  <dir
                    name="WorldTreeStruct"/>
                </dir>
                <dir
                  name="ObjectPool">
                  <dir
                    name="ArrayPool"/>
                  <dir
                    name="GenericPool"/>
                  <dir
                    name="NodePool">
                    <dir
                      name="RuleBaseLifecycle"/>
                  </dir>
                  <dir
                    name="PoolBase"/>
                  <dir
                    name="ReferencedPool"/>
                  <dir
                    name="UnitPool">
                    <dir
                      name="Unit">
                      <dir
                        name="Base"/>
                      <dir
                        name="Interface"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="Rule">
                  <dir
                    name="RuleBase">
                    <dir
                      name="SubRule"/>
                  </dir>
                  <dir
                    name="RuleBaseLifecycle"/>
                  <dir
                    name="RuleBaseUniversal"/>
                  <dir
                    name="RuleGroup">
                    <dir
                      name="Rule"/>
                  </dir>
                  <dir
                    name="RuleList">
                    <dir
                      name="Rule"/>
                  </dir>
                  <dir
                    name="RuleManager"/>
                </dir>
                <dir
                  name="RuleActuator">
                  <dir
                    name="Base"/>
                  <dir
                    name="Exception"/>
                  <dir
                    name="GlobalRuleActuator"/>
                  <dir
                    name="ListenerRuleActuator"/>
                  <dir
                    name="Rule"/>
                  <dir
                    name="RuleActuator"/>
                </dir>
                <dir
                  name="Time"/>
                <dir
                  name="Timer">
                  <dir
                    name="Extension"/>
                </dir>
                <dir
                  name="TreeTask">
                  <dir
                    name="Base"/>
                  <dir
                    name="Builder"/>
                  <dir
                    name="Extension"/>
                  <dir
                    name="RuleBase"/>
                  <dir
                    name="StateMachine"/>
                  <dir
                    name="Task"/>
                </dir>
                <dir
                  name="Type"/>
              </dir>
              <dir
                name="Modules">
                <dir
                  name="Node">
                  <dir
                    name="NeuralNetwork">
                    <dir
                      name="MultilayerPerceptron"/>
                  </dir>
                  <dir
                    name="TreeTaskQueueLock"/>
                  <dir
                    name="TreeTween">
                    <dir
                      name="Base"/>
                    <dir
                      name="Curve">
                      <dir
                        name="RuleBase"/>
                    </dir>
                    <dir
                      name="Extension"/>
                    <dir
                      name="Rule"/>
                    <dir
                      name="RuleBase"/>
                    <dir
                      name="TweenUpdateRule"/>
                  </dir>
                </dir>
                <dir
                  name="Rule">
                  <dir
                    name="NeuralNetwork">
                    <dir
                      name="MultilayerPerceptron"/>
                  </dir>
                  <dir
                    name="TreeTaskQueueLock"/>
                </dir>
              </dir>
              <dir
                name="Tools">
                <dir
                  name="Extension"/>
                <dir
                  name="Math"/>
                <dir
                  name="Serialized"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="C#"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <csharp_options
    analyze_reference_dlls="true"
    count_standard_in_max_inheritance="false"
    locate_system_classes="UseDefaultFramework"
    save_comments_associated_with_entities="true"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports>
    <files>
      <file
        name="./Unity/Unity.sln"
        configuration="Debug|Any CPU"/>
    </files>
  </imports>
</project>
