/Unity/Library
/Unity/Logs
/Unity/Temp
/Unity/obj
obj/
*/Temp/
/Temp
/.vs
Bin/
bin/
/Unity/.vs/

/Unity/UserSettings

/Unity/HybridCLRData
/Unity/Logs/shadercompiler-UnityShaderCompiler.exe0.log
/Unity/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
/Unity/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Unity/Sirenix.OdinInspector.CompatibilityLayer.csproj

/Unity/Assembly-CSharp.csproj
/Unity/Assembly-CSharp-Editor.csproj

/Unity/WorldTree.Core.csproj
/Unity/WorldTree.CoreUnity.csproj
/Unity/WorldTree.EditorUnity.csproj
/Unity/WorldTree.Node.csproj
/Unity/WorldTree.NodeUnity.csproj
/Unity/WorldTree.Rule.csproj
/Unity/WorldTree.RuleUnity.csproj
